<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>


    <body class="productAdd">
        <%- include('partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 mx-auto mt-5">
                        <div class="card shadow">
                            <div class="card-header">
                                <a class="btn btn-outline-dark" href="/products/add">Nuevo producto</a>

                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">Productos</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                            aria-selected="false">Categorias</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                            data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                            aria-selected="false">Usuarios</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Categoría</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Decuento</th>
                                                        <th scope="col">P. Final</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% products.forEach(({id, title,category, price,discount, image, description},index)=> {
                                                        %>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= index + 1 %>
                                                            </th>
                                                            <td>
                                                                <%= title %>
                                                            </td>
                                                            <td>
                                                                <%= category || 'Sin especificar' %>
                                                            </td>
                                                            <td>
                                                                <%= price %>
                                                            </td>
                                                            <td>
                                                                <%= discount %>
                                                            </td>
                                                            <td>
                                                                <%= price - (price * discount / 100) %>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex gap-1">
                                                                   
                                                                    <button type="button" class="btn btn-sm btn-primary"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#detailProduct<%=id%>">
                                                                        <i
                                                                            class="fas fa-eye"></i>
                                                                    </button>

                                                                    <div class="modal fade" id="detailProduct<%=id%>"
                                                                        tabindex="-1"
                                                                        aria-labelledby="detailProduct<%=id%>Label"
                                                                        aria-hidden="true">
                                                                        <div class="modal-dialog  modal-dialog-centered">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title"
                                                                                        id="detailProduct<%=id%>Label"><%= title %></h5>
                                                                                    <button type="button"
                                                                                        class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <div class="card mb-3" style="max-width: 540px;">
                                                                                        <div class="row g-0">
                                                                                            <div class="col-md-6">
                                                                                            <img  src="/img/<%= image || 'img-pdto-1.jpg'%>" class="img-fluid rounded-start" alt="...">
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                            <div class="card-body">
                                                                                                <h5 class="card-title"><%=title%></h5>
                                                                                                <p class="card-text"><%=description%> </p>
                                                                                            </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        </div> 
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">Cerrar</button>
                                                                          
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <a class="btn btn-sm btn-success"
                                                                        href="/products/edit/<%= id %>"><i
                                                                            class="fas fa-edit"></i></a>
                                                                    <a class="btn btn-sm btn-danger"
                                                                        href="/products/remove/<%= id %>"><i
                                                                            class="fas fa-trash"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                                <tfoot>


                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Cant. Prod.</th>
                                                        <th scope="col">Imagen</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% categories.forEach(({id, name, image},index)=> {
                                                        %>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= index + 1 %>
                                                            </th>
                                                            <td>
                                                                <%= name %>
                                                            </td>
                                                            <td>
                                                                <%= products.filter(product=> product.category ===
                                                                    name).length %>
                                                            </td>
                                                            <td>
                                                                <img src="/img/categories/<%=image%>" class="img-fluid"
                                                                    alt="">
                                                            </td>
                                                            <td>
                                                                <div class="d-flex gap-1">
                                                                    <a class="btn btn-sm btn-success"
                                                                        href="/categories/edit/<%= id %>"><i
                                                                            class="fas fa-edit"></i></a>
                                                                    <a class="btn btn-sm btn-danger"
                                                                        href="/categories/remove/<%= id %>"><i
                                                                            class="fas fa-trash"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                                <tfoot>


                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel"
                                        aria-labelledby="contact-tab">
                                        usuarios!!!
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
            <%- include('partials/footer') %>
                <%- include('partials/scripts') %>

    </body>

</html>